<!-- This was modified from https://github.com/jrnold/r4ds-exercise-solutions/blob/master/includes/open-review.html -->
<div class="alert alert-info hints-alert">
  <div class="hints-container">
    <i class="fa-regular fa-comments"></i>
    <b>Want to help out or contribute?</b>
    <p>
    If you find any typos, errors, or places where the text may be improved, please let us know
    by providing feedback either in the feedback survey (given during class) or
    by using GitLab.
    </p>

    <p>
    On <i class="fa-brands fa-gitlab"></i> GitLab open an
    <a href="https://gitlab.com/rostools/r-cubed/-/issues">issue</a>
    or submit a <a href="https://gitlab.com/rostools/r-cubed/-/merge_requests">merge request</a>
    by clicking the "<i class= 'bi bi-git'></i> Edit this page" link at the side of this page.
    </p>
  </div>
</div>
